<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DivinusBurguer</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/carrinho']">Meu carrinho</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.email}}
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" [routerLink]="['/historico']">Histórico de pedidos</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" href="javascript:void(0);" (click)="logoff()">Sair</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div style="background: white;">
  <br>
  <div class="container">
    <div class="row">
      <div *ngFor="let food of foods" class="col-sm-4">
          <div class="card text-center" style="width: 18rem;">
              <img class="card-img-top smallimg mx-auto" src='assets/{{food.imageName}}' alt="{{food.name}}" style="height: 286px;width: 190.66px">
              <div class="card-body">
                <h5 class="card-title">{{food.name}}</h5>
                <p class="card-text">{{food.description}}</p>
                <p>{{food.price |  currency:'BRL':true}}</p>
                <button class="btn btn-primary" value={{food.id}} #id (click)="addCart(id.value)">Adicionar ao carrinho</button>
              </div>
            </div>
            <br>
      </div>
    </div>
  </div>
</div>
<app-notificacao></app-notificacao>




